/*
=============
GLOBAL STYLES
=============
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Dosis', sans-serif;
}
h1{
	font-size: 3em;
}
h3{
	font-size: 1.5em;
}
h5{
	font-size: 1em;
}
/*
==============
HERO SECTION
==============
*/
.hero{
	background-image: linear-gradient(to bottom right, #2196F3, #009688);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}
/*=================
NAVIGATION SECTION
===================
*/
.menu{
	width: 100%;
	background: #333333;
	height: 40px;
}
.menu ul{
	list-style-type: none;
	text-align: center;
}
.menu ul li{
	display: inline;
}
.menu ul li a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	line-height: 40px;
	padding: 0px 15px 0px 15px;
}
.menu ul li a:hover{
	background-color: #111111;
}
/*
===================
SERVICES SECTION
===================
*/
.services{
	width: 100%;
	background-color: hsl(0, 0%, 95%);
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.col-wrapper{
	width: 90%;
	margin: auto;
	padding-top: 50px;
}
.services-col{
	width: 33.3%;
	float: left;
	padding: 10px 30px 10px 30px;
}
.services-col img{
	width: 80px;
	max-width: 100%;
	height: 80px;
	max-height: 100%;
}
.col-wrapper::after{
	content: "";
	clear: both;
	display: table;
}
/*
===================
 ABOUT US SECTION
===================
*/
.aboutus{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	background-image: url(./img/aboutus.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.about-content{
	width: 80%;
	margin: auto;
	background-color: rgb(0, 0, 0, 0.05);
	margin-top: 20px;
	font-size: 1.2em;
}
.about-btn{
	background: rgb(0,0,0,0.01);
	padding: 10px 15px 10px 15px;
	margin-top: 20px;
	outline: 1px solid black;
	border: none;
	cursor: pointer;
}
/*
===================
 TEAM SECTION
===================
*/
.team{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: hsl(0, 0%, 95%);
	text-align: center;
	width: 100%;
}
.team-wrapper{
	width: 90%;
	margin: auto;
	padding-top: 50px;
}
.col-team{
	width: 33.33%;
	float: left;
	padding: 10px 30px 10px 30px;
}
.col-team img{
	width: 50px;
	max-width: 100%;
}
.tcol{
	max-width: 200px;
	max-height: 170px;
	border: 1px solid rgba(0,0,0,0.05);
	box-shadow: 5px 5px 4px 1px rgba(0,0,0,0.05);
	padding: 10px;
}
.team-wrapper::after{
	clear: both;
	content: "";
	display: table;
}
/*
===================
 CONTACT SECTION
===================
*/
.contact{
	width: 100%;
	background-color: hsl(0,0%,95%);
}
.cta{
	width: 100%;
	background-color: yellow;
	padding: 30px 5px 30px 5px;
	text-align: center;
}
.cta-col{
	width: 33.33%;
	float: left;
}
.cta-col h3{
	display: inline;
}
.cta::after{
	content: "";
	display: table;
	clear: both;
}
/*
===================
 CONTACT MAIN SECTION
===================
*/
.contactinfo{
	width: 100%;
	padding: 30px 5px 30px 5px;
	text-align: center;
	background-color: hsl(0,0%,95%);
}
.contactinfo::after{
	clear: both;
	display: table;
	content: "";
}
.contactinfo-col1{
	width: 35%;
	float: left;
	text-align: center;
	padding: 30px 5px 30px 5px;
}
.contactinfo-col2{
	width: 65%;
	float: left;
	padding: 30px 10% 30px 5px;
	text-align: left;
}
.social-icons{
	padding: 15px;
	border: 1px dotted black;
}
.fb{
	background: #3a589b;
	color: #fff;
}
.tw{
	background: #32ccfe;
	color: #fff;
}
.gp{
	background:  #d6492f;
	color: #fff;
}
.ln{
	background: #007bb6;
	color: #fff;
}

/*FORM STYLES*/
.form-col{
	float: left;
	width: 48%;
	margin-right: 2%;
	text-align: left;
}
.fname, .femail{
	width: 100%;
	height: 35px;
	padding: 0px 5px 0px 5px;
	background-color: #fff;
	border: none;
	outline: none;
}
.msg{
	width: 100%;
	height: 250px;
	border: none;
	outline: none;
}
.fbtn{
	background-color: yellow;
	padding: 10px 30px 10px 30px;
	border: none;
	outline: 1px solid black;
	margin-top: 10px;
	cursor: pointer;
}
/*
===================
 FOOTER SECTION
===================
*/
.footer{
	width: 100%;
	background-color: #1b181f;
	color: #eee;
	padding: 50px 10px 50px 10px;
}
.footer{
	clear: both;
	display: table;
	content: "";
}
.footer h3{
	color: #fff;
}
.footer-col{
	width: 33.33%;
	float: left;
	padding: 5px 10px 5px 10px;
}

/*CSS MEDIA QUERIES*/
@media screen and (max-width: 500px){
	.services-col{
		width: 100%;
		padding: 50px;
	}
	.col-team{
		width: 100%;
		padding: 50px;
	}
	.cta-col{
		width: 100%;
		padding: 50px;
	}
	.contactinfo-col1{
		width: 100%;
		padding-right: 0px;
	}
	.contactinfo-col2{
		width: 100%;
		padding-right: 0px;
	}
	.form-col{
		width: 100%;
	}
	.footer-col{
		width: 100%;
		padding-top: 50px;
	}
}